<% if(g) {%>
<a href="/movies">go back</a>
<a href="/">Go to home page</a>

<h1>Title:<%= g.movietitle %></h1>
<h3>Director: <%= g.director %></h3>
<h3>Release year: <%= g.release_year %></h3>
<h3>Rating: <%= g.rating %></h3>
<h3>Description: <%= g.description %></h3>

<% } %>
